<div class="container-fluid">
  <h1>EDITING EMPLOYEE</h1>
  <form>
    <table class="table table-bordered" style="margin: 0 auto">
      <input type="hidden">
      <thead>
      <tr>
        <td>
          <label class="form-label">NAME</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">DAY OF BIRTH</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DD-MM-YYYY">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ID CARD NUMBER</label>
        </td>
        <td>
          <input type="number" class="form-control" placeholder="9 or 12 number chain">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">SALARY</label>
        </td>
        <td>
          <input type="number" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">PHONE NUMBER</label>
        </td>
        <td>
          <input type="number" class="form-control"
                 placeholder="090XXXXXXX / 091XXXXXXX / (84)+90XXXXXXX / (84)+91XXXXXXX">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">EMAIL</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="example@gmail.com">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ADDRESS</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">POSITION</label>
        </td>
        <td>
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">EDUCATION DEGREE</label>
        </td>
        <td>
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">DIVISION</label>
        </td>
        <td>
          <select>
            <option></option>
          </select>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px">UPDATE</button>
  </form>
</div>
