<!-- Button trigger modal -->
<button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#modelId" style="font-weight: bold">
  Detail
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-static text-center" *ngIf="customerDetail" style="margin: 0 auto"><br>
        <table class="table table-responsive">
          <thead class="thead-inverse">
          <tr>
            <td class="fw-semibold">Id</td>
            <td class="font-italic">{{customerDetail.customerId}}</td>
          </tr>
          <tr>
            <td>Code</td>
            <td class="font-italic">{{customerDetail.customerCode}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td class="font-italic">{{customerDetail.customerName}}</td>
          </tr>
          <tr>
            <td>Day of birth</td>
            <td class="font-italic">{{customerDetail.customerDob}}</td>
          </tr>
          <tr>
            <td>Id card</td>
            <td class="font-italic">{{customerDetail.customerIdCard}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td class="font-italic">{{customerDetail.customerPhone}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td class="font-italic">{{customerDetail.customerEmail}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td class="font-italic">{{customerDetail.customerAddress}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td class="font-italic">{{customerDetail.customerType.typeName}}</td>
          </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-weight: bold">Close</button>
      </div>
    </div>
  </div>
</div>

