<div style="margin: 10px">
  <button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/customer']" style="float: left" routerLinkActive="active"><< Back to list</button>
</div><br><br>

<div class="container wow fadeInDown" style="margin-bottom: 40px" >
  <form [formGroup]="customerEditForm" (ngSubmit)="updateCustomer(this.id)" *ngIf="this.customerEditForm">
    <h1>EDITING CUSTOMER</h1>
    <table class="table table-bordered table-hover" style="margin: 0 auto; border: solid black 2px">
      <thead>
      <tr>
        <td>
          <label class="form-label">ID</label>
        </td>
        <td>
          <input type="text" class="form-control" style="width: 400px" formControlName="id" >
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">CODE</label>
        </td>
        <td>
          <input type="text" class="form-control" style="width: 400px" formControlName="customerCode">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerCode">
            <span class="err" *ngIf="customerEditForm.get('customerCode').hasError(valid.type) && customerEditForm.get('customerCode').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">NAME</label>
        </td>
        <td>
          <input type="text" class="form-control" style="width: 400px" formControlName="customerName">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerCode">
            <span  class="err" *ngIf="customerEditForm.get('customerName').hasError(valid.type) && customerEditForm.get('customerName').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">DAY OF BIRTH</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DD-MM-YYYY" style="width: 400px" formControlName="customerDob">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerDob">
            <span  class="err" *ngIf="customerEditForm.get('customerDob').hasError(valid.type) && customerEditForm.get('customerDob').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ID CARD NUMBER</label>
        </td>
        <td>
          <input type="number" class="form-control" placeholder="9 or 12 number chain" style="width: 400px" formControlName="customerIdCard">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerIdCard">
            <span class="err" *ngIf="customerEditForm.get('customerIdCard').hasError(valid.type) && customerEditForm.get('customerIdCard').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">PHONE NUMBER</label>
        </td>
        <td>
          <input type="text" class="form-control"
                 placeholder="090XXXXXXX / 091XXXXXXX / (84)+90XXXXXXX / (84)+91XXXXXXX" style="width: 400px" formControlName="customerPhone">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerPhone">
            <span class="err" *ngIf="customerEditForm.get('customerPhone').hasError(valid.type) && customerEditForm.get('customerPhone').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">EMAIL</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="example@gmail.com" style="width: 400px" formControlName="customerEmail">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerEmail">
            <span class="err" *ngIf="customerEditForm.get('customerEmail').hasError(valid.type) && customerEditForm.get('customerEmail').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ADDRESS</label>
        </td>
        <td>
          <input type="text" class="form-control" style="width: 400px" formControlName="customerAddress">
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerAddress">
            <span class="err" *ngIf="customerEditForm.get('customerAddress').hasError(valid.type) && customerEditForm.get('customerAddress').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">TYPE</label>
        </td>
        <td>
          <select style="width: 400px; height: 40px" formControlName="customerType" [compareWith]="compareFn">
            <option *ngFor="let type of customerTypeList" [ngValue]="type">{{type.typeName}}</option>
          </select>
        </td>
        <td>
          <div *ngFor="let valid of validationMessageEdit.customerType">
            <span class="err" *ngIf="customerEditForm.get('customerType').hasError(valid.type) && customerEditForm.get('customerType').dirty">{{valid.message}}</span>
          </div>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px" [disabled]="customerEditForm.invalid">UPDATE</button>
  </form>
</div>

