<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<h2 style="color: red" th:text="${success}"></h2>
<table id = "products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th colspan="3" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p,rowStat : ${products}">
        <td th:text="${p.productId}"></td>
        <td th:text="${p.productName}"></td>
        <td th:text="${p.productPrice}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.productBrand}"></td>
        <td><a th:href="@{/product/edit/__${p.productId}__}">Edit</a></td>
        <td><a th:href="@{/product/delete/__${p.productId}__}">Delete</a></td>
        <td><a th:href="@{/product/view/__${p.productId}__}">View</a></td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/product/search/}" method="post" style="text-align: center">
    <h2>Search product name</h2><br>
    <input type="text" th:name="productName" style="width: 250px" placeholder="Product name">
    <input type="submit" value="Search" style="width: 150px">
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>