<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Result</h3>
<h2 style="color: red" th:text="${resultMessage}"></h2>
<div th:unless="${products.isEmpty()}">
<table id = "products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.productBrand}"></td>
    </tr>
    </tbody>
</table>
</div>
<h5>
    <a th:href="@{/product/list}">
        Back to product list
    </a>
</h5>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>