<div class="container-fluid">
<h1>SERVICE MANAGEMENT</h1>
<!--<div style="position: relative">-->
<!--  <a th:href="@{'/service/list'(page=${serviceList.number - 1})}" th:if="${serviceList.hasPrevious()}" style="text-decoration: none">Previous</a>-->
<!--  <span th:text="${serviceList.number + 1}"></span>/<span th:text="${serviceList.totalPages}"></span>-->
<!--  <a th:href="@{'/service/list'(page=${serviceList.number + 1})}" th:if="${serviceList.hasNext()}" style="text-decoration: none">Next</a>-->
<!--</div>-->
<table class="table-bordered table" style="margin: 0 auto; border: 1px">
  <thead>
  <tr>
    <th>ID</th>
    <th>CODE</th>
    <th>NAME</th>
    <th>AREA</th>
    <th>COST</th>
    <th>CAPACITY</th>
    <th>STANDARD</th>
    <th>CONVENIENCES</th>
    <th>POOL</th>
    <th>SERVICE TYPE</th>
    <th>RENT TYPE</th>
    <th>CONTRACT</th>
    <th colspan="2">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>
