<div class="container-fluid">
  <form>
    <h1>CREATE NEW CONTRACT DETAIL</h1>
    <table class="table table-bordered" style="margin: 0 auto">
      <thead>
      <tr>
        <td>
          <label class="form-label">QUANTITY</label>
        </td>
        <td>
          <input type="number" class="form-control" placeholder="KH-XXXX" style="width: 300px; margin: 0 auto">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ATTACHED SERVICE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">CONTRACT ID</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px">CREATE</button>
  </form>
</div>
