<div style="margin: 10px">
  <button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/']" style="float: left" routerLinkActive="active"><< Back to home</button>
  <button class="btn btn-dark rounded-pill wow fadeInRight" [routerLink]="['/employee-create']" style="float: right">Create new >></button>
</div><br><br>

<div class="container-fluid wow fadeInDown">
  <h1>EMPLOYEE MANAGEMENT</h1>
  <div class="input">
    <input type="text" [(ngModel)]="searchValue" name="employeeName" (ngModelChange)="Search()" style="width: 350px; height: 35px; align-items: center; text-align: center" placeholder="Search by name or code">
  </div><br><br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <table class="table table-hover table-bordered" style="margin: 0 auto; border: solid black 2px; width: 100%">
    <thead>
    <tr>
      <th (click)="sort('employeeCode')">CODE<sub style="color: red; font-size: 12px">sort</sub></th>
      <th (click)="sort('employeeName')">NAME<sub style="color: red; font-size: 12px">sort</sub></th>
      <th>PHONE</th>
      <th>EMAIL</th>
      <th>ADDRESS</th>
      <th>EDUCATION</th>
      <th>DIVISION</th>
      <th>POSITION</th>
      <th colspan="3">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of employeeList | paginate: {itemsPerPage:3,currentPage:p} | orderBy: key : reverse">
      <td>{{e.employeeCode}}</td>
      <td>{{e.employeeName}}</td>
      <td>{{e.employeePhone}}</td>
      <td>{{e.employeeEmail}}</td>
      <td>{{e.employeeAddress}}</td>
      <td>{{e.employeeEducation.educationName}}</td>
      <td>{{e.employeeDivision.divisionName}}</td>
      <td>{{e.employeePosition.positionName}}</td>
      <td>
        <app-employee-detail [employeeChild]="employeeFather" (click)="showDetail(e)"></app-employee-detail>
      </td>
      <td>
        <button class="btn btn-success rounded-pill" [routerLink]="['/employee-edit/', e.id]">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger rounded-pill" [routerLink]="['/employee-delete', e.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
