<div class="container-fluid">
  <h1>EMPLOYEE MANAGEMENT</h1>
  <table class="table-bordered table" style="margin: 0 auto; border: 1px; width: 100%">
    <thead>
    <tr>
      <th>NAME</th>
      <th>BIRTH</th>
      <th>ID CARD</th>
      <th>SALARY</th>
      <th>PHONE</th>
      <th>EMAIL</th>
      <th>ADDRESS</th>
      <th>POSITION</th>
      <th>EDUCATION</th>
      <th>DIVISION</th>
      <th>CONTRACT</th>
      <th colspan="2">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
