<div class="container-fluid">
  <form>
    <h1>CREATE NEW CUSTOMER</h1>
    <table class="table table-bordered" style="margin: 0 auto">
      <thead>
      <tr>
        <td>
          <label class="form-label">CODE</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="KH-XXXX">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">NAME</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">DAY OF BIRTH</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DD-MM-YYYY">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">GENDER</label>
        </td>
        <td>
          <span style="margin-right: 100px; padding-right: 60px"><input type="radio" value="0"> Female</span>
          <span style="margin-right: 100px; padding-right: 60px"><input type="radio" value="1"> Male</span>
          <span><input type="radio" value="2"/> Other</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ID CARD NUMBER</label>
        </td>
        <td>
          <input type="number" class="form-control" placeholder="9 or 12 number chain">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">PHONE NUMBER</label>
        </td>
        <td>
          <input type="number" class="form-control"
                 placeholder="090XXXXXXX / 091XXXXXXX / (84)+90XXXXXXX / (84)+91XXXXXXX">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">EMAIL</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="example@gmail.com">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">ADDRESS</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">TYPE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px">CREATE</button>
  </form>
</div>
