<div class="page-section fg-white container">
  <div class="container">
    <div>
      <h1 class="text-center">hi,<span style="font-weight: bold"> administrator</span></h1>
      <p style="font-size: 20px">{{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}</p>
    </div><br>
    <div class="row justify-content-center mt-4">
      <div class="col-md-6 col-lg-3">
        <div class="card card-body border-0 bg-transparent text-center wow fadeInLeft">
          <div class="mb-3">
            <a [routerLink]="['/customer']"><img src="assets/img/icons/testimony.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px; text-decoration: none"><a [routerLink]="['/customer']" style="color: red">customer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-body border-0 bg-transparent text-center wow fadeInLeft">
          <div class="mb-3">
            <a [routerLink]="['/employee']"><img src="assets/img/icons/promotion.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a [routerLink]="['/employee']" style="color: #4dcfff">employee</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-body border-0 bg-transparent text-center wow fadeInRight">
          <div class="mb-3">
            <a [routerLink]="['/service']"><img src="assets/img/icons/support.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a [routerLink]="['/service']" style="color: #9a1de0">service</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-body border-0 bg-transparent text-center wow fadeInRight">
          <div class="mb-3">
            <a href="/contract/list"><img src="assets/img/icons/coins.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a href="/contract/list" style="color: darkorange">contract</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


  <footer class="text-center text-lg-start  wow fadeInUp">
    <div class="d-flex justify-content-center py-2">
      <div class="text-center text-black-50 p-1" style="background-color: rgba(0, 0, 0, 0.0);">
        <a href="#" class="p-1"><i class="mai-logo-facebook-f" style="font-size: 25px; margin: 5px"></i></a>
        <a href="#" class="p-1"><i class="mai-logo-twitter" style="font-size: 25px; margin: 5px"></i></a>
        <a href="#" class="p-1"><i class="mai-logo-google" style="font-size: 25px; margin: 5px"></i></a>
        <a href="#" class="p-1"><i class="mai-logo-github" style="font-size: 25px; margin: 5px"></i></a>
        <a href="#" class="p-1"><i class="mai-logo-instagram" style="font-size: 25px; margin: 5px"></i></a>
        <a href="#" class="p-1"><i class="mai-logo-discord" style="font-size: 25px; margin: 5px"></i></a><br>
        <span style="padding-bottom: 5px">
       © Copyright: C0421G1
       </span>
      </div>
    </div>
  </footer>
</div>

