<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/tooplate-main.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <title>Title</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Employee Management</h1>
<table class="table-bordered table" style="margin: 0 auto">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>123123123</td>
        <td>234234234</td>
        <td>456456456</td>
    </tr>
</table>
</body>
</html>