<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Earth - Free HTML5 Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/tooplate-main.css">
    <link rel="stylesheet" href="assets/css/owl.css">

</head>
<!--
Tooplate 2113 Earth
https://www.tooplate.com/view/2113-earth
-->
<body>

<div class="sequence">

    <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
    </div>

</div>

<div class="logo">
    <h1>Furama Resort</h1>
    <h2>FR</h2>
</div>
<nav>
    <ul>
        <li><a href="#1"><img src="assets/images/icon-1.png" alt=""> <em>Homepage</em></a></li>
        <li><a href="#2"><img src="assets/images/icon-2.png" alt="" style="width: 46px"> <em>Employee</em></a></li>
        <li><a href="#3"><img src="assets/images/icon-3.png" alt="" style="width: 46px"> <em>Customer</em></a></li>
        <li><a href="#4"><img src="assets/images/icon-4.png" alt=""> <em>Service</em></a></li>
        <li><a href="#5"><img src="assets/images/icon-5.png" alt="" style="width: 46px"> <em>Contract</em></a></li>
    </ul>
</nav>

<div class="slides">
    <div class="slide" id="1">
        <div id="slider-wrapper">
            <div id="image-slider">
                <ul>
                    <li class="active-img">
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <div id="thumbnail">
                <ul>
                    <li class="active"><img src="assets/images/thumb-01.jpg" alt="" /></li>
                    <li><img src="assets/images/thumb-022.jpg" alt="" /></li>
                    <li><img src="assets/images/thumb-03.jpg" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slide" id="2">
        <div class="content second-content">
            <div class="container-fluid">
                <div class="row">
            <div id="employeeContent" style="margin: 0 auto"></div>
        </div>
            </div>
        </div>
    </div>
    <div class="slide" id="3">
        <div class="content third-content">
            <div class="container-fluid">
                <div class="row">
                    <div id="customerContent" style="margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="4">
        <div class="content fourth-content">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="slide" id="5">
        <div class="content fourth-content">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="assets/js/owl.js"></script>
<script src="assets/js/accordations.js"></script>
<script src="assets/js/main.js"></script>
<script>
    $(function(){
        $("#customerContent").load("index2.html");
    });

    $(function(){
        $("#employeeContent").load("index3.html");
    });

</script>
</body>
</html>