<div style="margin: 10px">
  <button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/employee']" style="float: left" routerLinkActive="active"><< Back to list</button>
</div><br><br><br><br>
<div class="container wow fadeIn wrap">
  <h2>Confirm?</h2>
  <table class="table table-hover table-bordered" style="margin: 0 auto; border: solid black 3px">
    <thead>
    <tr>
      <td>ID</td>
      <td><h4>{{employeeDelete.id}}</h4></td>
    </tr>
    <tr>
      <td>CODE</td>
      <td><h4>{{employeeDelete.employeeCode}}</h4></td>
    </tr>
    <tr>
      <td>NAME</td>
      <td><h4>{{employeeDelete.employeeName}}</h4></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" class="btn btn-danger" (click)="deleteEmployee(id)">Delete</button>
      </td>
    </tr>
    </thead>
  </table>
</div>
