<div class="container-fluid">
  <form>
    <h1>EDITING CONTRACT</h1>
    <table class="table table-bordered" style="margin: 0 auto">
      <input type="hidden">
      <thead>
      <tr>
        <td>
          <label class="form-label">START DATE</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DD-MM-YYYY">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">END DATE</label>
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DD-MM-YYYY">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">DEPOSIT</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">TOTAL AMOUNT</label>
        </td>
        <td>
          <input type="number" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">EMPLOYEE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">CUSTOMER</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">SERVICE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px">UPDATE</button>
  </form>
</div>

