<div style="margin: 10px">
  <button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/']" style="float: left" routerLinkActive="active"><< Back to home</button>
  <button class="btn btn-dark rounded-pill wow fadeInRight" [routerLink]="['/contract-create']" style="float: right">Create new >></button>
</div><br><br>

<div class="container-fluid wow fadeInDown">
  <h1>CONTRACT MANAGEMENT</h1>
  <div class="input">
    <input type="text" [(ngModel)]="searchValue" name="date.start" (ngModelChange)="Search()" style="width: 350px; height: 35px; align-items: center; text-align: center" placeholder="Search by customer name or start date">
  </div><br><br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <table class="table table-hover table-bordered" style="margin: 0 auto; border: solid black 2px; width: 100%">
    <thead>
    <tr>
      <th (click)="sort('dateStart')">START DATE<sub style="color: red; font-size: 12px">sort</sub></th>
      <th>END DATE</th>
      <th>DEPOSIT</th>
      <th>TOTAL AMOUNT</th>
      <th>EMPLOYEE</th>
      <th (click)="sort('customer')">CUSTOMER<sub style="color: red; font-size: 12px">sort</sub></th>
      <th>SERVICE</th>
      <th colspan="3">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of contractList | paginate: {itemsPerPage:3,currentPage:p} | orderBy: key: reverse">
      <td>{{e.dateStart}}</td>
      <td>{{e.dateEnd}}</td>
      <td>{{e.deposit}}</td>
      <td>{{e.totalAmount}}</td>
      <td>{{e.employee.employeeName}}</td>
      <td>{{e.customer.customerName}}</td>
      <td>{{e.service.serviceName}}</td>
      <td>
        <app-contract-detail [contractChild]="contractFather" (click)="showDetail(e)"></app-contract-detail>
      </td>
      <td>
        <button class="btn btn-success rounded-pill" [routerLink]="['/employee-edit/', e.id]">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger rounded-pill" [routerLink]="['/employee-delete', e.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
