<div class="container-fluid">
<h1>CONTRACT MANAGEMENT</h1>
<!--<div style="position: relative">-->
<!--  <a th:href="@{'/contract/list'(page=${contractList.number - 1})}" th:if="${contractList.hasPrevious()}" style="text-decoration: none">Previous</a>-->
<!--  <span th:text="${contractList.number + 1}"></span>/<span th:text="${contractList.totalPages}"></span>-->
<!--  <a th:href="@{'/contract/list'(page=${contractList.number + 1})}" th:if="${contractList.hasNext()}" style="text-decoration: none">Next</a>-->
<!--</div>-->
<table class="table-bordered table" style="margin: 0 auto; border: 1px">
  <thead>
  <tr>
    <th>STARD DATE</th>
    <th>END DATE</th>
    <th>DEPOSIT</th>
    <th>TOTAL AMOUNT</th>
    <th>EMPLOYEE</th>
    <th>CUSTOMER</th>
    <th>SERVICE</th>
    <th>CONTRACT DETAILS</th>
    <th colspan="2">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>
