<!--<app-employee-create></app-employee-create>-->
<!--<app-employee-edit></app-employee-edit>-->
<!--<app-employee-list></app-employee-list>-->

<!--<app-customer-list></app-customer-list>-->
<!--<app-customer-create></app-customer-create>-->
<!--<app-customer-edit></app-customer-edit>-->

<!--<app-service-list></app-service-list>-->
<!--<app-service-create></app-service-create>-->
<!--<app-service-edit></app-service-edit>-->

<!--<app-contract-list></app-contract-list>-->
<!--<app-contract-create></app-contract-create>-->
<!--<app-contract-edit></app-contract-edit>-->
<!--<app-contract-detail-create></app-contract-detail-create>-->



