<!--<app-employee-create></app-employee-create>-->
<!--<app-employee-edit></app-employee-edit>-->
<!--<app-employee-list></app-employee-list>-->

<!--<app-customer-list></app-customer-list>-->
<!--<app-customer-create></app-customer-create>-->
<!--<app-customer-edit></app-customer-edit>-->

<!--<app-service-list></app-service-list>-->
<!--<app-service-create></app-service-create>-->
<!--<app-service-edit></app-service-edit>-->

<!--<app-contract-list></app-contract-list>-->
<!--<app-contract-create></app-contract-create>-->
<!--<app-contract-edit></app-contract-edit>-->
<!--<app-contract-detail-create></app-contract-detail-create>-->

<div class="page-section fg-white">
  <div class="container">
    <h1 class="text-center" style="margin-left: 40px">hello, user</h1>
    <p id="currentTime" style="font-size: 22px  "></p>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 col-lg-3 py-2">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn">
          <div class="mb-3 floating-animate">
            <a href="/customer/list"><img src="assets/img/icons/testimony.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px; text-decoration: none"><a href="/customer/list">customer</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-2">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn">
          <div class="mb-3 floating-animate">
            <a href="/employee/list"><img src="assets/img/icons/promotion.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a href="/employee/list">employee</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-2">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn">
          <div class="mb-3 floating-animate">
            <a href="/service/list"><img src="assets/img/icons/support.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a href="/service/list">service</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-2">
        <div class="card card-body border-0 bg-transparent text-center wow zoomIn ">
          <div class="mb-3 floating-animate">
            <a href="/contract/list"><img src="assets/img/icons/coins.svg" alt="" width="120" height="120"></a><br><br>
            <p style="font-size: 30px"><a href="/contract/list">contract</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

