<div style="margin: 10px">
<button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/']" style="float: left" routerLinkActive="active"><< Back to home</button>
<button class="btn btn-dark rounded-pill wow fadeInRight" [routerLink]="['/customer-create']" style="float: right">Create new >></button>
</div><br><br>

<div class="container-fluid wow fadeInDown">
  <h1>CUSTOMER MANAGEMENT</h1>
  <div class="input">
    <input type="text" [(ngModel)]="searchValue" name="customerName" (ngModelChange)="Search()" style="width: 350px; height: 35px; align-items: center; text-align: center" placeholder="Search by name or code">
  </div><br><br>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
<table class="table table-hover table-bordered" style="margin: 0 auto; border: solid black 2px">
  <thead>
  <tr>
    <th>ID</th>
    <th (click)="sort('customerCode')">CODE<sub style="color: red; font-size: 12px">sort</sub></th>
    <th (click)="sort('customerName')">NAME<sub style="color: red; font-size: 12px">sort</sub></th>
    <th>BIRTH</th>
    <th>ID CARD</th>
    <th>PHONE</th>
    <th>EMAIL</th>
    <th>ADDRESS</th>
    <th>TYPE</th>
    <th colspan="3">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customerList | paginate: {itemsPerPage:4,currentPage:p} | orderBy: key : reverse">
    <td>{{c.id}}</td>
    <td>{{c.customerCode}}</td>
    <td>{{c.customerName}}</td>
    <td>{{c.customerDob}}</td>
    <td>{{c.customerIdCard}}</td>
    <td>{{c.customerPhone}}</td>
    <td>{{c.customerEmail}}</td>
    <td>{{c.customerAddress}}</td>
    <td>{{c.customerType.typeName}}</td>
    <td>
      <app-customer-detail [customerChild]="customerFather" (click)="showDetail(c)"></app-customer-detail>
    </td>
    <td>
      <button class="btn btn-success rounded-pill" [routerLink]="['/customer-edit/', c.id]">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger rounded-pill" [routerLink]="['/customer-delete', c.id]">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
<simple-notifications></simple-notifications>
