<app-navbar></app-navbar>


<div class="container-fluid my-4">
  <div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <h2>Article Information</h2>
        <table>
          <tr>
            <td>Title:</td>
            <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
          </tr>
          <tr>
            <td>Url:</td>
            <td>
              <textarea [(ngModel)]="article.url" cols="70"></textarea>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="modal-title">
          <h2>Today's article</h2>
        </div>
        <ul class="list-group" *ngFor="let art of articles">
          <li class="list-group-item"><a href="{{art.url}}" target="_blank" style="text-decoration: none">{{art.title}}</a><app-like></app-like> </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>


<app-footer></app-footer>
