<div class="container-fluid">
  <form>
    <h1>CREATE NEW SERVICE</h1>
    <table class="table table-bordered" style="margin: 0 auto">
      <thead>
      <tr>
        <td>
          <label class="form-label">CODE</label>
        </td>
        <td>
          <input type="text" class="form-control"  placeholder="DV-XXXX">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">NAME</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">AREA</label>
        </td>
        <td>
          <input type="number" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">PRICE</label>
        </td>
        <td>
          <input type="number" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">CAPACITY</label>
        </td>
        <td>
          <input type="number" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">STANDARD</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">OTHER CONVENIENCES</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">POOL AREA</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">FLOOR</label>
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label class="form-label">SERVICE TYPE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label">RENT TYPE</label>
        </td>
        <td>
          <select style="width: 300px; height: 40px">
            <option></option>
          </select>
        </td>
      </tr>
      </thead>
    </table><br>
    <button type="submit" class="btn btn-primary" style="width: 150px">CREATE</button>
  </form>
</div>
